* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  color: hsl(192, 100%, 9%);
  text-transform: capitalize;
}

ul {
  list-style: none;
}

a {
  display: inline-block;
  text-decoration: none;
}

::-webkit-scrollbar{
  width: .9rem;
}
::-webkit-scrollbar-track{
background-color: #f6f6f6;
}

::-webkit-scrollbar-thumb {
background-color: hsl(322, 100%, 66%);
border-radius: 1000px;
height: 18rem;
}

::-webkit-scrollbar-thumb:hover {
background-color: hsl(321, 100%, 78%);
}

/* helper classes */
.primary-heading {
  font-size: 5rem;
}

.secondary-heading {
  font-size: 3rem;
  line-height: 1.5;
}

.sub-heading {
  font-size: 16px;
  font-weight: 600;
  color: hsl(192, 100%, 9%);
  max-width: 50rem;
  line-height: 1.7;
  margin: 2rem 0 4rem;
}

.get-started:link,
.get-started:visited {
  padding: 2.5rem 9rem;
  font-size: 2rem;
  color: #fff;
  background-color: hsl(322, 100%, 66%);
  border-radius: 1000px;
  font-weight: 700;
}

.wavy-img {
  display: block; /* Avoid the space under the image caused by line height */
  width: 100%;
  position: relative;
}

.footer .wavy-img {
  top: 5px;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.responsive-grid {
  display: grid;
  justify-items: center;
  align-items: center;
}

.center-text {
text-align: center;
margin-left: auto;
margin-right: auto;
}