* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  color: hsl(192, 100%, 9%);
}

ul {
  list-style: none;
}

a {
  display: inline-block;
  text-decoration: none;
}

*:focus {
  outline: none;
  /* outline: 4px dotted #e67e22; */
  /* outline-offset: 8px; */
  box-shadow: 0 0 0 0.8rem rgba(245, 56, 56, .4) !important;
}

::-webkit-scrollbar{
  width: .9rem;
}
::-webkit-scrollbar-track{
background-color: #f6f6f6;
}

::-webkit-scrollbar-thumb {
background-color: var(--primary-color);
border-radius: 1000px;
height: 18rem;
}

::-webkit-scrollbar-thumb:hover {
background-color: var(--tint-Dark-color);
}

/* helper classes */
.primary-heading {
  font-size: 5rem;
  text-transform: capitalize;
}

.secondary-heading {
  font-size: 3.5rem;
  font-weight: 600;
  max-width: 40rem;
  line-height: 1.5;
}

.sub-heading {
  font-size: 2rem;
  font-weight: 600;
  color: hsl(192, 100%, 9%);
  width: 65rem;
  line-height: 1.5;
  margin: 2rem 0 4rem;
}

.get-started:link,
.get-started:visited {
  padding: 2.5rem 10rem;
  font-size: 2rem;
  color: #fff;
  background-color: hsl(321, 100%, 78%);
  border-radius: 1000px;
  font-weight: 700;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.responsive-grid {
  display: grid;
  justify-items: center;
  align-items: center;
}

.center-text {
text-align: center;
margin-left: auto;
margin-right: auto;
}