/**************************************/
/* Container */
/*************************************/
.container {
  margin: 0 auto;
}

@media (max-width: 767px) {
  .container {
    padding: 0 3rem;
  }
}

@media (min-width: 576px) {
  .container {
    width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1140px;
  }
}

@media (min-width: 1400px) {
  .container {
    width: 1320px;
  }
}

@media (min-width: 1500px) {
  .container {
    width: 1440px;
  }
}

/**************************************/
/* BELOW 1200px (Landscape Tablets) */
/*************************************/
@media (max-width: 75em) {
  html {
    /* 9px / 16px  */
    font-size: 56.25%;
  }
}

/***************************/
/* BELOW 944px (Tablets) */
/**************************/
@media (max-width: 59em) {
  .hero-container {
    gap: 20rem;
  }

  .community-section {
    padding: 15rem 0 0;
  }

  .get-started:link,
  .get-started:visited {
    margin-top: 5rem;
    padding: 1.9rem 6rem;
  }

  .community-container {
    flex-direction: column;
    justify-content: center;
  }

  .component-content-container .container {
    text-align: center;
    flex-direction: column;
    justify-content: center;
    gap: 12rem;
  }

  .component-img-container {
    display: flex;
    order: -1;
  }

  .component-img-container {
    width: 90%;
  }

  .footer-container .container {
    flex-direction: column;
    justify-content: center;
  }

  .footer .sub-heading {
    font-size: 14px;
    max-width: 80%;
    color: #fff;
  }

  .cta-box {
    display: flex;
    flex-direction: column;
    order: -1;
    margin-bottom: 15rem;
  }

  .cta-form {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    gap: 2rem;
  }

  input[type="email"] {
    width: 330px;
  }
}

/***************************/
/* BELOW 767px (Phones) */
/**************************/
@media (max-width: 47.9em) {
  html {
    /* 8px / 16px = 0.5 = 50% */
    font-size: 45%;
  }

  .primary-heading {
    font-size: 4rem;
    text-transform: capitalize;
  }

  .sub-heading {
    font-size: 14px;
  }

  .nav {
    padding-top: 4rem;
  }

  .logo-img {
    max-width: 50%;
    display: flex;
    justify-content: flex-start;
  }

  .community-section .sub-heading {
    margin: 0 0 4rem;
  }

  .get-section {
    padding: 17rem 0 33rem;
  }

  .footer .sub-heading {
    max-width: 100%;
    margin: 3rem 0;
  }

  .cta-form {
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    gap: 2rem;
  }

  .footer .logo-img {
    max-width: 80%;
  }
}
/***************************/
/* BELOW 280px (Phones) */
/**************************/
@media (max-width: 18em) {
  html {
    /* 8px / 16px = 0.5 = 50% */
    font-size: 30%;
  }

  .sub-heading {
    max-width: 100%;
  }

  .footer .sub-heading {
    font-size: 13px;
    max-width: 100%;
    color: #fff;
  }

  input[type="email"] {
    width: 250px;
  }
}
