/*************************************/
/* Header */
/*************************************/
header {
  padding-top: 7rem;
}
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20rem;
}

.logo-img {
  max-width: 100%;
}

.try-it-free:link,
.try-it-free:visited {
  display: inline-block;
  font-size: 1.6rem;
  padding: 0.8rem 2.5rem;
  color: hsl(321, 100%, 78%);
  border: 1px solid hsl(321, 100%, 78%);
  border-radius: 1000px;
}

.try-it-free:hover,
.try-it-free:active {
  box-shadow: 0 0 5px 0 hsl(321, 100%, 78%);
}

/*************************************/
/* Hero-Section */
/*************************************/
.hero-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10rem;
}

.hero-img {
  width: 100%;
}

/*************************************/
/* Community-Section */
/*************************************/
.community-section {
  padding: 10rem;
}
.community-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 10rem;
}

.community-icon {
  display: flex;
  justify-content: flex-start;
  width: 25%;
}

.community-container .secondary-heading {
  font-family: "Open Sans", sans-serif;
  font-size: 7.5rem;
}

.community-container .sub-heading {
  color: #858c92;
  font-weight: 400;
}

/*************************************/
/* Grow-Section */
/*************************************/
.wave-bg-top-1 {
position: relative;
top: 5px;
}

.component-content-container {
  background-color: #f6fbff;
  padding: 8rem 0;
}

.component-content-container .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5rem;
}

.component-img-container {
width: 55%;
}

.component-img {
  width: 100%;
} 

.wavy-img {
width: 100%;
}

.no-color-bg {
  background-color: #fff;
  padding: 12rem 0;
}
