/*************************************/
/* Header */
/*************************************/
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20rem;
  padding-top: 6rem;
}

.logo-img {
  max-width: 100%;
  display: flex;
  justify-content: flex-start;
  cursor: pointer;
}

.try-it-free:link,
.try-it-free:visited {
  display: block;
  font-size: 1.6rem;
  padding: 0.8rem 3rem;
  width: 14.5rem;
  color: hsl(322, 100%, 66%);
  border: 1px solid hsl(322, 100%, 66%);
  box-shadow: 0 0 2px 0.2px hsl(322, 100%, 66%);
  border-radius: 1000px;
}

.try-it-free:hover,
.try-it-free:active {
  box-shadow: 0 0 5px 0 hsl(321, 100%, 78%);
}

/*************************************/
/* Hero-Section */
/*************************************/
.hero-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10rem;
}

.hero-img {
  width: 100%;
}

/*************************************/
/* Community-Section */
/*************************************/
.community-section {
  padding: 10rem 0;
}

.community-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10rem;
}

.community-icon {
  display: flex;
  justify-content: flex-start;
  width: 25%;
}

.community-container .secondary-heading {
  font-family: "Open Sans", sans-serif;
  font-size: 7.5rem;
}

.community-container .sub-heading {
  color: #858c92;
  font-weight: 400;
}

/*************************************/
/* Component-Sections */
/*************************************/
.component-content-container {
  background-color: #f6fbff;
  padding: 8rem 0;
}

.component-content-container .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5rem;
}

.component-img-container {
  width: 55%;
}

.component-img {
  width: 100%;
}

.no-color-bg {
  background-color: #fff;
  padding: 12rem 0;
}

/*************************************/
/* Get-Sections */
/*************************************/
.get-section {
  padding: 17rem 0;
}

.get-section .secondary-heading {
  font-size: 4rem;
}

.get-section .get-started {
  margin-top: 4rem;
}

/*************************************/
/* Footer */
/*************************************/
.footer {
  color: #fff;
}

.footer-container {
  padding: 10rem 0;
  background-color: hsl(192, 100%, 9%);
}

.footer-container .container {
  display: flex;
  justify-content: space-between;
}

.footer .logo-img {
filter: brightness(0) invert(1);
}

.footer .secondary-heading {
  font-family: "Open Sans", sans-serif;
  text-transform: uppercase;
  font-size: 2.5rem;
  font-weight: 600;
  color: #fff;
}

.footer .sub-heading {
  font-size: 14px;
  max-width: 35rem;
  color: #fff;
}

.phone,
.email {
  display: flex;
  align-items: center;
  color: #fff;
  font-size: 1.6rem;
}

.phone a,
.email a {
  color: #fff;
}

.phone-icon,
.email-icon {
  padding-right: 2rem;
}

.phone {
  margin-bottom: 20px;
}

.social-icons {
  display: flex;
  align-items: center;

}

.social-icon {
  display: inline-block;
  margin: 7rem 2.5rem 0 0;
  font-size: 30px;
  border-radius: 3px;
  transition: all 0.5s;
  color: #fff;
}

.icon-twitter {
  display: inline-block;
  background-color: #fff;
  color: hsl(192, 100%, 9%);
  font-size: 29px;
  width: 40;
  height: 40;
  text-align: center;
  border-radius: 3px;
}

.icon-facebook2:hover {
  background-color: #fff;
  color: #1877f2;
  border-radius: 3px;
}

.icon-instagram:hover {
  background-color: #c13584;
  color: #fff;
  padding: 0.4rem;
  font-size: 23px;
  border-radius: 3px;
}

.icon-twitter:hover {
  background-color: #1d9bf0;
  border-radius: 3px;
}

.cta-form {
  display: flex;
  justify-content: space-between;
  gap: 4rem;
}

input[type="email"],
input[type="submit"] {
  border: none;
  outline: none;
  border-radius: 5px;
  height: 45px;
  padding: 1rem;
}

input[type="email"] {
  width: 300px;
  color: hsl(192, 100%, 9%);
}

.input-email {
  transition: all 3s;
}

.input-email:hover::after {
  content: "Check your email please";
  display: block;
  margin-top: 0.5rem;
  width: 20rem;
  height: 0.5rem;
  font-size: 1.2rem;
  font-weight: 600;
  color: hsl(0, 100%, 63%);
}

input[type="email"]:focus {
  border: 1px solid hsl(0, 100%, 63%);
}

input[type="submit"] {
  width: 150px;
  background-color: hsl(322, 100%, 66%);
  color: #fff;
  font-family: inherit;
  font-weight: 700;
  font-size: 1.6rem;
}

input[type="submit"]:hover {
  background-color: hsl(321, 100%, 78%);
}
